@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,bold&subset=Latin";

#tunnel {
    display: flex;
    justify-content: center;
    margin-top:5vw;
}

#serverinfocontainer {
    display: flex;
    justify-content: center;
}

#tunnel-url {
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#serverinfo {
    background-color: blue;
    box-shadow: 0 5px 0 darkblue;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
  }
  
  #serverinfo:hover {
    background-color: blue;
    cursor: pointer;
  }
  
  #serverinfo:active {
    box-shadow: none;
    top: 5px;
  }
#issuepage {
    text-decoration: none;
    color: grey;
}

html {
    background: url("https://innersloth.com/Images/GAMES/AmongUs/2019_halloweenPromo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: 100%;
    color: white;
    font-family: "Ubuntu Mono","times new roman",times,roman,serif;
    text-shadow: 0 0 5px #C8C8C8;
}

.github, .github:hover, .github:active {
  font-family: "Ubuntu Mono","times new roman",times,roman,serif;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: rgb(17, 29, 44);
  border-radius: 6px;
  font-size: 12px;
}

.github img {
  width: 20px;
  margin-right: 4px;
  height: auto;
}

.github img:hover, .github:hover > img {
	animation: rotation 2s infinite linear;
}

.github:hover {
	cursor: pointer !important;
	font-size: 13.5px !important;
}
