@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,bold&subset=Latin";

#tunnel {
    display: flex;
    justify-content: center;
}

#serverinfocontainer {
    display: flex;
    justify-content: center;
}

#tunnel-url {
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#serverinfo {
    background-color: blue;
    box-shadow: 0 5px 0 #020269;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  #serverinfo:hover {
    background-color: blue;
    cursor: pointer;
  }
  
  #serverinfo:active {
    box-shadow: none;
    top: 5px;
  }

body {
    background-color: black;
    height: 100vw;
    color: white;
    font-family: "Ubuntu Mono","times new roman",times,roman,serif;
    text-shadow: 0 0 5px #C8C8C8;
}